{% extends "layout.html" %}

{% block title %}
Home
{% endblock title %}

{% block main %}
<form method="POST" action="/summary">
    <!-- Adds a CSRF token, sets secret-key for our app -->
    {{ form.hidden_tag() }}

    <fieldset class="form-group">
        <legend class="border-bottom border-success">Summarize using URL</legend>
        {% if form.link.errors %}
        {{ form.link(class="form-control form-control-lg is-invalid",
        placeholder="Enter a URL here",
        autocomplete="off") }}
        <div class="invalid-feedback">
            {% for error in form.link.errors %}
            <span>{{ error }}</span>
            {% endfor %}
        </div>

        {% else %}
        {{ form.link(id="url",
        class="form-control form-control-lg",
        placeholder="Enter a URL here",
        autocomplete="off") }}
        {% endif %}

    </fieldset>
    <div class="form-group">
        <label for="summary" class="text-success">Summary</label>
        <textarea name="" id="summary" cols="35" rows="10" class="form-control form-control-lg" readonly>Your summary will be displayed here...
        </textarea>
        <!-- {{ form.sum(class="form-control form-control-lg",
        cols="35",
        rows="10",
        placeholder="Your summary will be displayed here......") }} -->
    </div>
    <div class="form-group">
        <label for="keywords" class="text-success">Keywords</label>
        <input id="keywords" type="text" value="Keywords will be displayed here..." class="form-control form-control-lg"
            readonly>
    </div>
    <div class="form-group text-center">
        {{ form.submit(class="btn btn-success btn-lg") }}
    </div>
</form>
{% endblock main %}