{% extends "layout.html" %}

{% block title %}
    Home
{% endblock title %}

{% block main %}
    <form method="POST" action="">
        <!-- Adds a CSRF token, sets secret-key for our app -->
        {{ form.hidden_tag() }}

        <fieldset class="form-group">
            <legend class="border-bottom border-success">Summarize using URL</legend>
            {{ form.link(class="form-control form-control-lg", placeholder="Enter a URL here") }}
        </fieldset>
        <div class="form-group text-center">
            {{ form.submit(class="btn btn-outline-success btn-lg") }}
        </div>
    </form>
{% endblock main %}