{% extends "layout.html" %}

{% block title %}
Home
{% endblock title %}

{% block main %}
<form method="POST" action="/summary">
    <!-- Adds a CSRF token, sets secret-key for our app -->
    {{ form.hidden_tag() }}

    <fieldset class="form-group">
        <legend class="border-bottom border-success">Summarize using URL</legend>
        {% if form.link.errors %}
        {{ form.link(class="form-control form-control-lg is-invalid",
        placeholder="Enter a URL here",
        autocomplete="off") }}
        <div class="invalid-feedback">
            {% for error in form.link.errors %}
            <span>{{ error }}</span>
            {% endfor %}
        </div>

        {% else %}
        {{ form.link(id="url",
        class="form-control form-control-lg",
        placeholder="Enter a URL here",
        autocomplete="off",
        value=u) }}
        {% endif %}

    </fieldset>
    <div class="form-group">
            <label for="summary">Summary</label>
        <textarea name="" id="summary" cols="35" rows="10" class="form-control form-control-lg" readonly>
            {{ text }}
        </textarea>
    </div>
    <div class="form-group">
        <label for="keywords">Keywords</label>
        <input id="keywords" type="text" value="{{ keywords }}" class="form-control form-control-lg" readonly>
    </div>
    <div class="form-group text-center">
        {{ form.submit(class="btn btn-outline-success btn-lg") }}
        <a href="{{ url_for('main') }}" class="btn btn-outline-success btn-lg">Reset</a>
    </div>


</form>
{% endblock main %}